{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Stock: Staff login</title>

    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="login">

<div id="container">
    <div id="header">
        <h1 id="site-name"><a href="/">IT Stock: Staff login</a></h1>
    </div>

    <div id="content" class="colM">
        <div id="content-main">

            {% if form.errors %}
                <p class="errornote">
                    <strong>Error:</strong> Please correct the error{% if form.errors|length > 1 %}s{% endif %} below.
                </p>
            {% endif %}

            <form method="post" id="login-form">
                {% csrf_token %}
                <div class="form-row">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-row">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>

                <div style="text-align: center;">
                    <input type="submit" value="Log in" class="default">
                </div>
            </form>

        </div>

        <p class="signup-link">
            <a href="{% url 'admin:login' %}">Admin Login</a>
        </p>
    </div>
</div>

</body>
</html>
