{% extends "base.html" %}
{% load static %}

{% block title %}Product Branch{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/search-bar.css' %}">
{% endblock %}

{% block content %}
<h1>Product Branch</h1>
<div class="search-bar">
    <form method="get" action="">
        <input type="text" name="q" placeholder="Search for a product..." value="{{ query|default:default }}">
        <button type="submit">Search</button>
    </form>
</div>

<!-- Product Table -->
<table class="table">
    <thead>
        <tr>
            <th>Branch</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for branche in branches %}
        <tr>
            <td>{{ branche.branch__branch }}</td>
            <td>{{ branche.total_quantity }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="{{ selected_columns|length|add:2 }}" style="text-align: center; font-weight: bold;">No products found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'export_to_excel' %}">Export to Excel</a>
{% endblock %}
