{% extends "base.html" %}
{% load static %}

{% block title %}Product Branch{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<link rel="stylesheet" href="{% static 'css/search-bar.css' %}">
{% endblock %}

{% block content %}
<h1>Product Branch</h1>

<!-- Product Table -->
<table class="table">
    <thead>
        <tr>
            <th>Branch</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for branch in branches %}
        <tr>
            <td>{{ branch.branch }}</td>
            <td>
                <a href="{% url 'view_branch_details' branch.id %}">
                    <button>Branch</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="{{ selected_columns|length|add:2 }}" style="text-align: center; font-weight: bold;">No products found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'export_to_excel' 'branches' %}">Export to Excel</a>
{% endblock %}
