{% extends "base.html" %}
{% load static %}

{% block title %}Serial{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<h1>Serial List</h1>

<div class="search-bar">
    <form method="get" action="">
        <input type="text" name="q" placeholder="Search for a product..." value="{{ query|default:default }}">
        <input type="submit" value="Search">
    </form>
</div>

<!-- Product Table -->
<table class="table">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for product in serials %}
        <tr>
            <td>{{ product.serial }}</td>
            <td>
                <a class="button" href="{% url 'view_product_details' product.product.id %} ">
                    รายละเอียด
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="{{ selected_columns|length|add:1 }}" style="text-align: center; font-weight: bold;">No products found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'export_to_excel' 'serials' %}">Export to Excel</a>

{% endblock %}
