{% extends 'base.html' %}
{% load static %}
{% block title %}Transaction List{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<h1>รายการธุรกรรม</h1>

<div class="search-bar">
    <form method="get" action="">
        <input type="text" name="q" placeholder="Search for a product..." value="{{ query|default:'' }}">
        <input type="submit" value="Search">
    </form>
</div>

{% if transactions %}
<table class="table">
    <thead>
        <tr>
            <th>Created At</th>
            <th>Imported By</th>
            <th>Model</th>
            <th>Quantity</th>
            <th>Source</th>
            <th>Destination</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <td>{{ t.created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ t.imported_by.username }}</td>
            <td>{{ t.product.model }}</td>
            <td>{{ t.quantity }}</td>
            <td>{{ t.source }}</td>
            <td>{{ t.destination }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'export_to_excel' 'transactions' %}">
    Export to Excel
</a>

<br>

{% if products.paginator.num_pages > 1 %}
  <div class="pagination">

    {% if products.has_previous %}
      <a href="?page=1{% if base_query %}&{{ base_query }}{% endif %}">&laquo; First</a>
      <a href="?page={{ products.previous_page_number }}{% if base_query %}&{{ base_query }}{% endif %}">Previous</a>
    {% endif %}

    {% for i in products.paginator.page_range %}
      {% if i >= products.number|add:'-2' and i <= products.number|add:'2' %}
        {% if i == products.number %}
          <span class="current">{{ i }}</span>
        {% else %}
          <a href="?page={{ i }}{% if base_query %}&{{ base_query }}{% endif %}">{{ i }}</a>
        {% endif %}
      {% elif i == 1 or i == products.paginator.num_pages %}
        <a href="?page={{ i }}{% if base_query %}&{{ base_query }}{% endif %}">{{ i }}</a>
      {% elif i == products.number|add:'-3' or i == products.number|add:'3' %}
        ...
      {% endif %}
    {% endfor %}

    {% if products.has_next %}
      <a href="?page={{ products.next_page_number }}{% if base_query %}&{{ base_query }}{% endif %}">Next</a>
      <a href="?page={{ products.paginator.num_pages }}{% if base_query %}&{{ base_query }}{% endif %}">Last &raquo;</a>
    {% endif %}

  </div>
{% endif %}

{% else %}
<p>No transactions found.</p>
{% endif %}

<br>
<br>
<a href="{% url 'view_product_list' %}">← Back to Product_list</a>
{% endblock %}
