{% extends "base.html" %}
{% load static %}

{% block title %}รายการชนิดสินค้า{% endblock %}

{% block content %}
<div id="content-main">
        <h1>รายการชนิดสินค้า</h1>

        <ul class="object-tools">
            <li>
                <a href="{% url 'add_product' %}" class="addlink">เพิ่มชนิดสินค้า</a>
            </li>
        </ul>

        <div id="toolbar">
            <form id="changelist-search" method="get" action="">
                <div>
                    <img src="/static/admin/img/search.svg" alt="Search">
                    <input id="searchbar" type="text" name="q" placeholder="Search for a product..." value="{{ query|default:'' }}">
                    <input type="submit" value="Search">
                </div>       
                <div>
                    <div class="column-selection">
                        {% for col, label in available_columns %}
                            <label>
                                <input type="checkbox" name="columns" value="{{ col }}" {% if col in selected_columns %}checked{% endif %}>
                                {{ label }}
                            </label>
                        {% endfor %}
                    </div>
                </div> 
            </form>
        </div>
    </div>

<!-- Product Table -->
<div class="result">
    <table id="result_list">
        <thead>
            <tr>
                {% if "brand" in selected_columns %}<th>Brand</th>{% endif %}
                {% if "model" in selected_columns %}<th>Model</th>{% endif %}
                {% if "description" in selected_columns %}<th>Description</th>{% endif %}
                {% if "EAN_code" in selected_columns %}<th>EAN code</th>{% endif %}
                {% if "dealer_price" in selected_columns %}<th>Dealer price</th>{% endif %}
                {% if "volume_price" in selected_columns %}<th>volume price</th>{% endif %}
                {% if "MSRP" in selected_columns %}<th>MSRP</th>{% endif %}
                {% if "total" in selected_columns %}<th>Total</th>{% endif %}
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                {% if "brand" in selected_columns %}<td>{{ product.brand }}</td>{% endif %}
                {% if "model" in selected_columns %}<td>{{ product.model }}</td>{% endif %}
                {% if "description" in selected_columns %}<td>{{ product.description }}</td>{% endif %}
                {% if "EAN_code" in selected_columns %}<td>{{ product.EAN_code }}</td>{% endif %}
                {% if "dealer_price" in selected_columns %}<td>{{ product.dealer_price }}</td>{% endif %}
                {% if "volume_price" in selected_columns %}<td>{{ product.volume_price }}</td>{% endif %}
                {% if "MSRP" in selected_columns %}<td>{{ product.MSRP }}</td>{% endif %}
                {% if "total" in selected_columns %}<td>{{ product.total_quantity }}</td>{% endif %}
                <td>
                    <a class="button" href="{% url 'view_product_details' product.id %}">
                       รายละเอียด
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="{{ selected_columns|length|add:1 }}" style="text-align: center; font-weight: bold;">No products found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'export_to_excel' 'products' %}">Export to Excel</a>
</div>

<!-- <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1{% if query %}&q={{ query }}{% endif %}{% if default %}&default={{ default }}{% endif %}">First</a>
            <a href="?page={{ products.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if default %}&default={{ default }}{% endif %}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ products.number }} of {{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if default %}&default={{ default }}{% endif %}">Next</a>
            <a href="?page={{ products.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if default %}&default={{ default }}{% endif %}">Last</a>
        {% endif %}
    </span>
</div> -->

<br>

{% if products.paginator.num_pages > 1 %}
  <div class="pagination">

    {% if products.has_previous %}
      <a href="?page=1{% if base_query %}&{{ base_query }}{% endif %}">&laquo; First</a>
      <a href="?page={{ products.previous_page_number }}{% if base_query %}&{{ base_query }}{% endif %}">Previous</a>
    {% endif %}

    {% for i in products.paginator.page_range %}
      {% if i >= products.number|add:'-2' and i <= products.number|add:'2' %}
        {% if i == products.number %}
          <span class="current">{{ i }}</span>
        {% else %}
          <a href="?page={{ i }}{% if base_query %}&{{ base_query }}{% endif %}">{{ i }}</a>
        {% endif %}
      {% elif i == 1 or i == products.paginator.num_pages %}
        <a href="?page={{ i }}{% if base_query %}&{{ base_query }}{% endif %}">{{ i }}</a>
      {% elif i == products.number|add:'-3' or i == products.number|add:'3' %}
        ...
      {% endif %}
    {% endfor %}

    {% if products.has_next %}
      <a href="?page={{ products.next_page_number }}{% if base_query %}&{{ base_query }}{% endif %}">Next</a>
      <a href="?page={{ products.paginator.num_pages }}{% if base_query %}&{{ base_query }}{% endif %}">Last &raquo;</a>
    {% endif %}

  </div>
{% endif %}



{% endblock %}
