{% extends 'base.html' %}
{% load static %}
{% block title %}Import List{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<h1>รายการนำเข้าสินค้า</h1>

<div class="search-bar">
    <form method="get" action="">
        <input type="text" name="q" placeholder="Search for a product..." value="{{ query|default:'' }}">
        <input type="submit" value="Search">
    </form>
</div>

{% if imports %}
<table class="table">
    <thead>
        <tr>
            <th>Created At</th>
            <th>Imported By</th>
            <th>Model</th>
            <th>Quantity</th>
            <!-- <th>Supplier</th> -->
        </tr>
    </thead>
    <tbody>
        {% for t in imports %}
        <tr>
            <td>{{ t.created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ t.imported_by.username }}</td>
            <td>{{ t.product.model }}</td>
            <td>{{ t.quantity }}</td>
            <!-- <td>{{ t.supplier.name }}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'export_to_excel' 'imports' %}">
    Export to Excel
</a>

<br>
    {% if imports.paginator.num_pages > 1 %}
  <div class="pagination">

    {% if imports.has_previous %}
      <a href="?page=1{% if base_query %}&{{ base_query }}{% endif %}">&laquo; First</a>
      <a href="?page={{ imports.previous_page_number }}{% if base_query %}&{{ base_query }}{% endif %}">Previous</a>
    {% endif %}

    {% for i in imports.paginator.page_range %}
      {% if i >= imports.number|add:'-2' and i <= imports.number|add:'2' %}
        {% if i == imports.number %}
          <span class="current">{{ i }}</span>
        {% else %}
          <a href="?page={{ i }}{% if base_query %}&{{ base_query }}{% endif %}">{{ i }}</a>
        {% endif %}
      {% elif i == 1 or i == imports.paginator.num_pages %}
        <a href="?page={{ i }}{% if base_query %}&{{ base_query }}{% endif %}">{{ i }}</a>
      {% elif i == imports.number|add:'-3' or i == imports.number|add:'3' %}
        ...
      {% endif %}
    {% endfor %}

    {% if imports.has_next %}
      <a href="?page={{ imports.next_page_number }}{% if base_query %}&{{ base_query }}{% endif %}">Next</a>
      <a href="?page={{ imports.paginator.num_pages }}{% if base_query %}&{{ base_query }}{% endif %}">Last &raquo;</a>
    {% endif %}

  </div>
{% endif %}

{% else %}
<p>No transactions found.</p>
{% endif %}

<br>
<br>
<a href="{% url 'view_product_list' %}">← Back to Product_list</a>
{% endblock %}
